@import "./colors.styl"

html
  position relative
  min-height 100%

body
  margin-bottom 5em
  font-family: 'Lato', sans-serif;

.section-header
  color black

.contact-email
  font-weight 700
  color dark-pink

.contact-email:hover
  text-decoration none
  color blue
