<template name="About">
  <div class="container">
    <h1 class="section-header text-center">QUIENES SOMOS</h1>
    <hr class="star-light">
    <p class="text-center mission">Nuestra misión para República de Niños es simple, ser el lugar donde padres Colombianos vienen a buscar los eventos que están sucediendo en su ciudad.</p>
    <p class="text-center mission">Esperamos este sitio les sea de ayuda y no duden en contactarnos con sus comentarios y sugerencias -- <a href="smeloa@yahoo.com" class="contact-email">CONTACTO</a></p>
    <p class="text-center mission">Si deseas mejorar este sitio el codigo esta en GitHub -- <a href="https://github.com/smeloa/colombia-parent" class="contact-email">GITHUB</a></p>
    <h3 class="section-header text-center section-small">QUE TENEMOS PLANEADO</h3>
    <ul class="list-group text-center col-lg-6 col-lg-offset-3">
      <li class="list-group-item">Pagina para colegios y jardines</li>
      <li class="list-group-item">Resenas y recomendaciones para cada actividad/colegio/servicio</li>
      <li class="list-group-item">Actividad destaca de la semana</li>
      <li class="list-group-item">Espacios para promocionar actividades</li>
      <li class="list-group-item">Pagina para servicios</li>
    </ul>
  </div>
</template>
