@import "../styles/colors.styl"

.search-box
  padding-top 10px
  padding-bottom 10px

.star-light
  margin 25px auto 30px
  padding 0
  max-width 250px
  border 0
  border-top solid 3px
  text-align center
  border-color pink

.star-light:after
  content "\f005"
  display inline-block
  position relative
  top -.8em
  padding 0 .25em
  font-family FontAwesome
  font-size 2em
  color pink
  background-color white
