@import "../styles/colors.styl"

.caption
  label
    color dark-pink

.card-name
  font-size 1.3em
  font-weight 900
  margin-top -0.25em

.panel-heading
  padding 0
  img
    width 100%

.panel
  label
    color dark-pink
