@import "../styles/colors.styl"

.caption
  label
    color dark-pink

.card-name
  font-size 1.3em
  font-weight 900

.card-type, .card-location, .card-date, .card-cost
  font-size 0.9em
  label
    margin-bottom -5px

.card-type
  font-weight 300
