<template name="Footer">
  <footer class="footer footer-distributed">
    <div class="footer-right pull-right">
      <!-- <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a> -->
      <a href="https://ca.linkedin.com/in/melosantiago"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/smeloa"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-left pull-left">
      <p class="created">República de Niños &copy; 2015</p>
      <p class="created">Pagina creada por: <a href="smeloa@yahoo.com" class="contact-email">SANTIAGO MELO</a></p>
    </div>
  </footer>
</template>
