<template name="Jumbotron">
  <div class="jumbotron">
    <div class="container">
      <h1>HELLO WORLD</h1>
      <p>Bacon ipsum dolor amet sirloin shank turkey short ribs, flank pancetta ribeye fatback salami filet mignon tenderloin bresaola prosciutto. Bacon frankfurter short ribs cupim chicken brisket shoulder turkey shank chuck. Meatloaf filet mignon brisket, prosciutto alcatra fatback doner pancetta. Pork loin jerky pancetta.</p>
      <p>
        <a href="" class="btn btn-primary btn-lg">TEST</a>
      </p>
    </div>
  </div>
</template>
