.jumbotron
  height 500px
  background-color red !important
  background-image url("http://www.keenthemes.com/preview/conquer/assets/plugins/jcrop/demos/demo_files/image1.jpg") !important
  background-repeat no-repeat !important
  background-size cover !important
