<template name="Jumbotron">
  <div class="ui grid">
    <div class="row">
      <div class="column padding-reset">
        <div class="ui huge message page grid jumbotron">
          <h1 class="ui huge header">HELLO WORLD</h1>
          <p>Bacon ipsum dolor amet sirloin shank turkey short ribs, flank pancetta ribeye fatback salami filet mignon tenderloin bresaola prosciutto. Bacon frankfurter short ribs cupim chicken brisket shoulder turkey shank chuck. Meatloaf filet mignon brisket, prosciutto alcatra fatback doner pancetta. Pork loin jerky pancetta.</p>
          <a href="" class="ui blue button btn">TEST</a>
        </div>
      </div>
    </div>
  </div>
</template>
