@import "../../styles/colors.styl"

.jumbotron
  margin-top -20px
  height 500px
  background-image url("http://www.keenthemes.com/preview/conquer/assets/plugins/jcrop/demos/demo_files/image1.jpg")
  background-repeat no-repeat
  background-size cover
  h1
    color fun
