@import "../../styles/colors.styl"

.navbar
  position fixed
  top 0
  left 0
  background rgba(0,0,0,0)
  border none
  width: 100%
  a
    color white !important
  a:hover
    color #f6f !important
  .navbar-brand
    font-weight 300
    color white !important

.active
  border-bottom 3px solid #f6f

/* Login Button Styling */

.logout, .login-toggle
  cursor pointer

@media (max-width: 600px)
  .navbar-collapse
    margin 0 auto !important
  .in, .collapsing
    width 100%
    background rgba(0,0,0,0.75)
  .navbar-toggle
    background-color white
