<template name="NavBar">
  <div class="ui secondary menu container">
    <a class="item" href="/">
      Inicio
    </a>
    <a class="item" href="/recursos">
      Recursos
    </a>
    <a class="item" href="/about">
      Quienes Somos
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Encontrar...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui item">
        {{> loginButtons align="right"}}
      </a>
    </div>
  </div>
</template>
