@import "../../styles/colors.styl"

.navbar
  background-color dark-grey
  a
    color black !important
    font-weight 700
  a:hover
    color blue !important


.addresource
  background-color rgba(254, 11, 85, 0.3)
  a
    color black !important

.addresource:hover
  background-color rgba(255, 102, 255, 0.3)
  a
    color blue !important

/* Login Button Styling */

.logout, .login-toggle
  cursor pointer
