@import "../../styles/colors.styl"

.navbar
  background-color grey
  a
    color black !important
    font-wight 700
  a:hover
    color pink !important

/* Login Button Styling */

.login
  padding-top 15px

#login-buttons
  a
    text-decoration none
